################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/appVisual/.vs/appVisual/v16/Server/sqlite3/db.lock
.vs
/appVisual/.vs/appVisual/v16
