################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

task/.vs
task3/TestResults/
task3/packages

task3/TestResults/
task3/packages
task3/LINQ/bin/*
task3/LINQ/obj/*
task3/LINQTest/bin/*
task3/LINQTest/obj/*
