################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/appVisual/.vs/appVisual/v16/Server/sqlite3/db.lock
.vs
/appVisual/.vs/appVisual/v16
appVisual/Zadanie1.0/obj/
appVisual/Zadanie1.0/bin/
appVisual/zadanie2/obj/
appVisual/zadanie2/bin/
appVisual/DataRepositoryTest/bin/
appVisual/DataRepositoryTest/obj/
appVisual/SerializationTest/bin/*
appVisual/SerializationTest/obj/*
appVisual/Serialization/bin/*
appVisual/Serialization/obj/*
appVisual/TestResults/
appVisual/packages