<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GraphicalData.Properties.Settings.AdventureWorks2014ConnectionString"
            connectionString="Data Source=MACIEKKOMPUTER\SQLEXPRESS;Initial Catalog=AdventureWorks2014;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GraphicalData.Properties.Settings.AdventureWorks2014ConnectionString1"
            connectionString="Data Source=MACIEKLAPTOP;Initial Catalog=AdventureWorks2014;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>